<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1444728399417-08d2aa39e6f4?ixlib=rb-0.3.5&s=fd45b3178c163c8b1994d703f8a425a9&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <h1>One Drink Wonder</h1>
    <h4>Will Rock Your Socks Off</h4>
    <br>
    <button class="btn btn-primary btn-custom"><%= link_to "Create your own cocktail", new_cocktail_path %></button>
  </div>
</div>
